/*BANNER*/

.banner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    &__info{
        display: flex;
        flex-wrap: wrap;
        background-color: bisque;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    &__titulo{
        font-size: 8vmin;
        margin: 2rem;
        text-align: center;
    }

    &__subtitulo{
        font-size: 7vmin;
        margin: 2rem;
        text-align: center;
    }
}

