#gmap_canvas{
    width: 30rem;
    height: 30rem;
    margin-right: 2.5rem;
}

section.info__principal h1.infocard__titulo{
    padding: 5rem;
}

#bg-info{
    background: url(../img/fondo_nav2.jpg);
    padding: 3rem;
}