/*INFORMACION*/

.infocard{
    margin: 2rem 0;
    align-content: center;
    background-color: antiquewhite;
    padding: 1rem;

    &__2{
        @extend .infocard;
        background-color: bisque;
    }

    &__3{
        display: flex;
        flex-direction: column;
        margin: 5rem 0rem;
    }

    &__desc{
        display: flex;
        flex-flow: wrap row;
        align-content:space-around;
        align-items: center;
        padding: 1rem;
    }

    &__titulo{
        font-size: 3.5rem;
    }

    &__texto{
        font-size: 2rem;
    }

    &__list{
        margin: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__img{
        max-width: 23vh;
        min-height: 22vh;
        border-radius: 30%;
        margin: 2rem;
    }
}

