.principal{
    margin: 1.5rem 1rem;
    padding: 2rem;
    background: rgba(248, 228, 228, 0.993);

    &__2{
        padding: 2rem;
        margin: 1rem 1.5rem;
    }

    &__3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 5rem;
        padding: 1rem;
    }

    &__box{
        margin: 12rem 4rem;
        flex-direction: column;
    }

}
