@font-face {
    font-family: Rofaela;
    src: url(../recursos/fuentes/Rofaela.otf);
}

*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

:root{
    font-size: 16px;
}