.btn-mine{
    font-size: 1.3rem;
    text-decoration: none;
    border-bottom: solid 5px burlywood;
    color: rgba(75, 75, 75, 0.493);
}

.text-right{
    text-align: right;
}

.img-icon{
    max-height: 45px;
}

.color-1{
    color: rgb(255, 146, 132);
}